In [1]:
import pandas as pd

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
cust = pd.read_csv(r"C:\Users\MAGOMA\Documents\CODSOFT\machine_learning\customer_churn\Churn_Modelling.csv")

In [3]:
cust.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
# information about the data
cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

We do not have missing values and the data types are correct

In [7]:
# checking for duplicated rows
drow = cust[cust.duplicated()]
drow

Empty DataFrame
Columns: [RowNumber, CustomerId, Surname, CreditScore, Geography, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary, Exited]
Index: []

We don't have duplicated rows

# Data preprocessing

In [8]:
df = pd.get_dummies(cust[['Geography', 'Gender']])
df.head()

,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,1,0,0,1,0
1,0,0,1,1,0
2,1,0,0,1,0
3,1,0,0,1,0
4,0,0,1,1,0

In [9]:
df1 = pd.concat([cust, df], axis = 1).drop(columns = ['RowNumber', 'Surname', 'Geography', 'Gender'])

In [10]:
df1.head()

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,15634602,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,15647311,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,15619304,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,15701354,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,15737888,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0

In [38]:
x = df1.drop(columns = ['Exited'])
y = cust["Exited"]

Splitting data into train and test datasets

In [12]:
from sklearn.model_selection import train_test_split

In [50]:
x_train, x_test,y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 10)

In [51]:
# printing the shapes for train and test datasets
print('x_train shape :', x_train.shape, 'y_train shape :', y_train.shape)
print('x_test shape :', x_test.shape, 'y_test shape :', y_test.shape)

x_train shape : (7000, 14) y_train shape : (7000,)
x_test shape : (3000, 14) y_test shape : (3000,)

# MODELLING

### Logistic Regression

In [24]:
from sklearn.linear_model import LogisticRegression

In [52]:
# Fitting the model to the training dataset
LR = LogisticRegression()
LR.fit(x_train, y_train)

LogisticRegression()

In [55]:
# Predictions
Rpred = LR.predict(x_test)
Rpred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [57]:
# Evaluation

LR.score(x_test, y_test)

0.7933333333333333

Our linear regression model performs better

### Random Forests

In [59]:
# importing random forest classifier
from sklearn.ensemble import RandomForestClassifier

In [60]:
# Fitting the model to the training dataset
RFC = RandomForestClassifier()
RFC.fit(x_train, y_train)

RandomForestClassifier()

In [62]:
# Predictions
rf = RFC.predict(x_test)
rf

array([1, 0, 1, ..., 0, 0, 0], dtype=int64)

In [63]:
# Evaluation
from sklearn.metrics import classification_report

In [64]:
print(classification_report(y_test, rf))

              precision    recall  f1-score   support

           0       0.87      0.96      0.91      2380
           1       0.74      0.43      0.55       620

    accuracy                           0.85      3000
   macro avg       0.80      0.70      0.73      3000
weighted avg       0.84      0.85      0.84      3000